html {
	background-color: #eae0eb;
}

header a {
	color: blueviolet;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	text-decoration: none;
	cursor: pointer;
	margin-right: 1rem;
	padding: 1rem;
}

header h1 {
	font-size: 3rem;
	color: darkmagenta;
	text-align: center;
}

.box h1 {
	background-color: #e7a2e2;
	padding: 0.5rem;
	text-align: center;
}

.box {
	max-width: 400px;
	margin: 50px auto;

	background: white;
	border-radius: 5px;
	box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.item {
	display: grid;
	grid-template-columns: 80% 20%;
	background-color: white;
	padding: 1rem;
	border-bottom: 1px solid #f1f1f1;
}

.itemList {
	display: flex;
	align-items: center;
}

.item input[type="text"] {
	margin-right: 1rem;
	border: none;
	outline: none;
	border-bottom: 1px solid purple;
	padding: 1rem;
}

.item input[type="checkbox"] {
	margin-right: 1rem;
	accent-color: seagreen;
	transform: scale(1.5);
}

.item button {
	border: none;
	outline: none;
	background: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
}

.item input:checked ~ .checkboxtext {
	text-decoration: line-through;
	text-decoration-color: #b856b8;
}

.addButton {
	font-size: 2rem;
	color: #b856b8;
}

.closeButton {
	color: blue;
}
